@charset "utf-8";

/* reset */
* {margin:0; padding:0}
body, button, input, label, option, span, p {font: 100%/1.2 'Noto Sans KR', AppleGothic, sans-serif; font-size:14px}
li {list-style:none}
a {text-decoration:none}
img {vertical-align:top}
address {font-style:normal}
footer {border-top:1px solid #d7d7d7}

/* layout */
#header {margin:0 auto; height:130px; background:#fff; border-bottom:1px solid #c2c2c2}
#contents {text-align:center; margin:0 auto}
#contents .con1 {margin:0 auto;}
#footer {margin:0 auto; position:relative; width:1050px; height:165px; padding-top:12px; background:#fff;}

/* header */
#lnbW {background:#a88b47; height:50px; width:100%}
.lnb {margin:0 auto; width:1200px; height:50px}
#lnbW	 img {position:absolute; margin-left:30px; margin-top:3px}
#lnbW .speaker {position:absolute; top:15px; margin-left:200px;font-size:15px; color:#fff}
#lnbW ul {float:right; margin-right:40px; margin-top:15px; color:#fff;}
#lnbW li {float:left; margin-left:20px}
#lnbW li a {color:#fff}

.util {position:absolute; width:300px; text-align:center; margin-top:28px; margin-left:224px}
.util a {float:left; padding-right:2px; font-size:12px; font-family:'돋움'; }
.util a:before {content:'ㅣ'; padding-right:2px; color:#aaa; font-weight:100; font-size:12px}
.util a:first-child:before {content:''}
.util a:last-child:after {content:''}
.util a {color:#000}

/* .languagebox a {border:1px solid red} */
/* .util {position:absolute; width:300px; text-align:center; margin-top:22px; margin-left:224px}
.util a {float:left; color:#000; margin-right:10px; padding-top:5px; border:1px solid #a88b47; background:#fff; border-radius:5px; font-size:13px; width:85px; height:22px}
.language {position:absolute; left:0; margin-top:26px}
.language a {border:none; padding-bottom:6px}
.util ul {background:#000; border-radius:5px; width:85px; height:70px; border:1px solid red; z-index:100}
.util ul > li {line-height:30px} */

#SinfoW {height:70px; border-bottom:1px solid #c2c2c2}
#SinfoW .seoul_info {margin:0 auto; width:1200px}
#SinfoW .seoul_info h1 img {position:absolute; margin-left:100px; margin-top:16px}
#SinfoW .seoul_info .tnb {float:right; margin-right:40px}
.seoul_info .tnb .weather {margin-left:-250px; margin-top:20px}
.tnb .weather a {float:left; text-align:center; margin-right:13px; color:#a88b47}
.tnb .weather .city {font-size:25px}
.tnb .weather .dust {font-size:13.5px}
.tnb .search {float:right; margin-top:-3px; margin-right:100px}
legend {display:none}
fieldset {border:2px solid #a88b47; border-radius:50px 50px 50px 50px; width:200px}
.searchKeyword {border:0; width:133px; height:28px; margin-left:20px; margin-right:10px}
/* .searchKeyword {border:0; width:115px; height:5px; padding:10px; margin-left:18px; margin-right:15px;} */
.submit {position:relative; top:3px; right:4px;}

/* 골치아픈 메뉴 */
#gnbWrap {margin:0 auto; width:1050px; height:50px}
#gnbWrap .gnb {margin-top:20px; text-align:center}
#gnbWrap .gnb li {float:left; margin-left:6px;}
#gnbWrap .gnb li a {color:#000}
#gnbWrap .gnbT {font-size:16px; width:13.3%; text-align:center;}

#gnbWrap .gnb .sub_menu {display:none;}
#gnbWrap .gnbT .sub_menu.on {display:block; }
#gnbWrap .sub_inner {position:absolute; margin:0 auto;}

#gnbWrap .sub_title {width:250px; text-align:left; position:absolute; margin-top:15px; margin-left:50px}
#gnbWrap .sub_title:after {content:''; display:block; width:50px; border-bottom:3px solid #ffc500; padding-bottom:12px; }
#gnbWrap .sub_title h2 {font-size:24px; font-weight:400;}
#gnbWrap .sub_title span {font-size:14px; font-weight:500; color:#aaa}
#gnbWrap .gnb_icon {position:absolute; text-align:left; margin-left:-12px; margin-top:60px; text-align:center;}
#gnbWrap .gnb_icon img {display:block; text-align:center}
#gnbWrap .gnb_icon a {width:60px; float:left; font-size:12px; font-weight:300; text-align:center; padding-right:12px}
#gnbWrap .gnb_icon p {position:absolute; margin:0 auto; margin-top:12px; text-align:center; margin-left:4px}

#gnbWrap .sub_Twrap {margin-left:280px; margin-top:60px; width:900px;}
#gnbWrap .sub_Twrap ul:after {content:''; display:block; height:340px; border-left:1px solid #e2e2e2; margin-top:-60px; }
#gnbWrap .sub_Twrap h3 {font-size:16px; font-weight:normal; margin-bottom:25px; padding-left:20px}
#gnbWrap .sub_Twrap h3:hover {text-decoration:underline}
#gnbWrap .sub_Twrap ul {width:33.33%; margin-right:30px}
#gnbWrap .sub_Twrap ul li {line-height:30px; font-size:14px; font-weight:300; padding-left:16px}
#gnbWrap .sub_Twrap ul li:hover {text-decoration:underline;}
#gnbWrap .sub_menu {position:relative; left:0; margin-top:20px; width:100%;height:440px;background-color:#fff; border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2; box-shadow:rgba(50, 50, 50, 0.15) -2px 70px 80px 1px; z-index:10000}
#gnbWrap .sub1, #gnbWrap .sub2, #gnbWrap .sub3, #gnbWrap .sub4, #gnbWrap .sub5, #gnbWrap .sub6, #gnbWrap .sub7 {position:absolute}
#gnbWrap .sub_inner {width:1100px; height:350px; margin:0 auto; position:relative; z-index:90}
#gnbWrap .sub_inner ul {width:150px; float:left; text-align:left;}

/* visual */
.v_inner img {width:100%}
.controlW {display:none;}
.controlW button {overflow: visible; border:0 none; background:none; text-align:center; cursor:pointer}

/* contents */
.con1 {background:#ffdc65; height:65px; background-size:100%;}
.con1 ul {margin:0 auto; width:900px; vertical-align:center}
.con1 ul li {float:left; margin-top:20px; width:25%}
/* .con1 ul li:after {display:block; content:'ㅣ'; clear:both} */
.con1 ul li a {font-size:18px; text-align:center; color:#000}

.con2 {margin:0 auto; background:url(../img/con2_bg.png) center top no-repeat; letter-spacing:-1px;}
.con2_wrap {width:910px; text-align:center; display:inline-block;}
.con2_wrap h2 {font-size:30px; padding-top:80px; padding-bottom:80px;}
.con2_wrap h2 span {font-weight:normal; font-size:18px}
.con2_wrap h3 {font-size:23px;}
.con2_wrap .con2area div {float:left;}

.con2_box1 {width:400px; border:1px solid #c2c2c2; height:450px;}
.con2_box1 h3 {padding:25px; background:#ffd05e; color:#fff}
.con2_box1 .more img {position:absolute; margin-left:82px; margin-top:-13px}

.con2_top {border-bottom:1px solid #c2c2c2; border-top:none; text-align:left; padding:15px 0 25px 30px; height:150px; width:368px}
.con2_top dl {margin-bottom:6px}
.con2_top dl dt {font-size:19px; font-weight:500; line-height:50px}
.con2_top dl dd {font-size:16px; font-weight:300}
.con2_box2 {border-top:none; width:398px; height:180px; }
.con2_box2 p {float:left; font-size:19px; font-weight:500; text-align:center; margin-left:25px; padding-top:25px; line-height:30px}
.con2_box2 span {font-size:15px; font-weight:300;}
.con2_notice {position:absolute; margin-top:380px; margin-left:10px; text-align:left; font-size:x; font-weight:300}

.con2_box3 {margin:0 auto; border:1px solid #c2c2c2; width:460px; height:450px; margin-left:20px}
.con2_box3 .more img {position:absolute; margin-left:410px; margin-top:-13px}
.con2_box3 h3 { padding:25px; background:#ffb500; color:#fff}
.con2_box3 li {font-weight:300; line-height:55px; padding:15px; margin-left:5px}
.con2_box3 a {color:#000; font-size:15px; float:left;}
.con2_box3 span {font-size:13px; float:right}

.con3 {background:url(../img/con3_bg2.png) center top no-repeat; background-size:1920px auto; letter-spacing:-1px;}
.con3 h2 {padding-top:160px; font-size:30px; padding-bottom:80px}
.con3 h2 span {font-weight:normal; font-size:18px}
.con3 .play {margin:0 auto; width:970px;/* display:inline-block */}
/* #playIWV {margin-top:-150px} */
.con3 .view {float:left}
.con3 .viewR {margin-left:15px}
/* .con3 .playW {float:left; margin-left:30px;} */
.con3 .playW, .con3 .playW2, .con3 .playW3, .con3 .playW4 {float:left; margin-left:30px;}

/* con3 play view hover */
.viewL, .viewR, .viewL .view_txt, .viewR .view_txt
{-webkit-transition:all 1s ease;
 -moz-transition:all 1s ease;
 transition:all 1s ease;}

 .viewL, .viewR {width:315px; height:265px; margin:auto; position:relative; overflow:hidden; cursor:pointer;}
 .viewL .view_txt, .viewR .view_txt {width:100%; height:70px; position:absolute; left:0; bottom:-180px; font-size:15px; background-color:rgba(24, 26, 24, 0.7);}
 .view a {color:white}
 .viewL:hover .viewR:hover{border-color:rgba(255, 255, 255, 1); opacity:1;}
 .viewL:hover .view_txt,  .viewR:hover .view_txt {bottom:0;}
 .view_txt {text-align:left; padding-left:20px; line-height:70px}
 .view_more {float:right; padding-right:30px; color:#ffde6b; margin-top:25px}

.con3 .play_box {background-color:#fff; border:1px solid #c2c2c2; width:260px; height:260px; box-shadow:5px 5px #ebebeb}
.con3 .play_box ul {width:100%; padding:35px;}
.con3 .play_Wb1, .play_Wb2, .play_Wb3, .play_Wb4 {text-align:center; width:50%; float:left; padding-bottom:35px}
.con3 .play_b1, .play_b2, .play_b3, .play_b4 {width:65px}
.con3 .play_box img {}
.con3 .play_box a {color:#000; font-weight:300} */

.con3 .event_box {}
.con3 .event_box img {width:200px; float:left}
.con3 .event_txt {position:absolute; margin-top:102px; font-weight:400; font-size:13px; line-height:1.3}

.event {margin:0 auto; margin-top:300px; margin-left:-270px}
.eventA {margin:0 auto; width:1280px; height:500px}
.event h3 {text-align:left; margin-bottom:25px; font-size:20px; font-weight:normal}
.swiper-container {margin-top:-66px}

/* event_box hover : 축제 및 행사 */
.event_box {width:630px; padding:18px; margin:auto; margin-top:50px;}
.event_box ul{width:100%}
.event_day .day img {width:50px; margin:0 auto; text-align:left}
.event_txt {margin:0 auto; width:600px}
.event_txt p {float:left}
.event_img {position:relative}
.event_img .day {position:absolute; z-index:100; color:#fff; top:0}

.event_box li{width:185px; height:95px; float:left; margin:0 30px 53px 0; position:relative; overflow:hidden; z-index:1000}
.event_box li:nth-child(3n){margin-right:0;}
.event_box li:nth-child(n+3){margin-bottom:0;}

.event_box li img, .event_box li div{-webkit-transition:all 1s ease; -moz-transition:all 1s ease; transition:all 1s ease;}
.event_box li img{width:100%; height:100%;}
.event_box li div{width:100%; height:60px; font:bold 1.4em/60px "맑은 고딕", arial; background-color:rgba(102, 0, 0, .5); color:#fff; text-indent:20px; position:absolute; left:0; bottom:-70px;}

.event_box li:hover img{-webkit-transform:scale(1.2);
								  -moz-transform:scale(1.2);
								  -o-transform:scale(1.2);
								  -ms-transform:scale(1.2);
								  transform:scale(1.2)}

.event_box li:hover div{bottom:10px}

/* 롤링 슬라이드 : 배너 */
	.swiper-container {width: 300px; height:auto;}
	.swiper-wrapper img {width:300px}
	.swiper-slide {text-align: center; font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;}

	.swiper-pagination {margin-bottom:4px}
	.swiper-pagination-bullet {width: 20px; height: 20px; text-align: center; line-height: 20px; font-size: 10px; color:#000; opacity: 1; background: rgba(0,0,0,0.2);}
	.swiper-pagination-bullet-active {color:#fff; background: #8a6e2a;}

.con4 {background-color:#ffe77c; height:100px}
.con4W {margin:0 auto; width:1000px;}
.con4 h3 {color:#8a6e2a; font-weight:400; font-size:20px; float:left; margin-top:40px}
.newsline {position:absolute; margin-left:146px; margin-top:28px}
.iconbox {margin-left:186px}
/* .iconbox a {display:block;} */
.iconbox img {margin-top:33px; float:left; margin-right:20px; width:40px}
.news {text-align:right; /* margin-top:-45px */}
.news button {margin-top:25px; border:3px solid #8a6e2a; width:210px; height:50px; border-radius:50px; font-size:16px; background-color:rgba(225,225,225,0.2);}
.news button a {color:#8a6e2a; font-weight:500} */

/* footer */
.footerW {margin:0 auto; width:1050px; letter-spacing:-1px}
.f_logo {position:absolute; width:150px; margin-top:35px}
.f_logo img {float:left; margin-bottom:8px}
.fgnb_w {position:absolute; text-align:center}
.fgnb {margin-top:35px; margin-left:170px; width:860px}
.fgnb li {float:left}
.fgnb li a {color:black;}
.fgnb li:after {content:' ㅣ ';}
.fgnb li a:hover {text-decoration:underline}
.fgnb li:last-child:after {content:''; display:block; clear:both;}
.addW {position:absolute; width:500px; margin-top:70px; margin-left:170px; line-height:30px; text-align:left}
.addW p {color:#949494; font-size:13px; font-family:'Dotum'; letter-spacing:-1px;}
.info {float:right; margin-top:80px; margin-right:20px}
.info p {float:left; margin-left:20px}